@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'PPNeueMontreal-bold';
    src: local('PPNeueMontreal'), url(./fonts/PPNeueMontreal-Bold.otf);
  }
  @font-face {
    font-family: 'PPNeueMontreal-book';
    src: local('PPNeueMontreal'), url(./fonts/PPNeueMontreal-Book.otf);
  }
  @font-face {
    font-family: 'PPNeueMontreal-italic';
    src: local('PPNeueMontreal'), url(./fonts/PPNeueMontreal-Italic.otf);
  }
  @font-face {
    font-family: 'PPNeueMontreal-medium';
    src: local('PPNeueMontreal'), url(./fonts/PPNeueMontreal-Medium.otf);
  }
  @font-face {
    font-family: 'PPNeueMontreal-SemiBolditalic';
    src: local('PPNeueMontreal'), url(./fonts/PPNeueMontreal-SemiBolditalic.otf);
  }
  @font-face {
    font-family: 'PPNeueMontreal-thin';
    src: local('PPNeueMontreal'), url(./fonts/PPNeueMontreal-Thin.otf);
  }
}

[data-direction="ltr"] {
* {
  direction: ltr;
}
.children-x-1 > * {
  margin-right: 0.25rem;
}
.children-x-2 > * {
  margin-right: 0.5rem;
}
.children-x-4 > * {
  margin-right: 1rem;
}
}
[data-direction="rtl"] {
* {
  direction: rtl;
}
.children-x-1 > * {
  margin-left: 0.25rem;
}
.children-x-2 > * {
  margin-left: 0.5rem;
}
.children-x-4 > * {
  margin-left: 1rem;
}
}

/**
 * base styles
 */
h1 {
  @apply text-5xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply text-2xl;
}
h5 {
  @apply text-xl;
}
h6 {
  @apply text-lg;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-galano;
}

code {
  @apply font-mono p-1 inline rounded font-bold;
}
pre {
  @apply font-mono p-2 block rounded font-bold;
}

html {
  @apply font-poppins;
}

body {
  @apply font-neueBook antialiased text-sm text-gray-400;
}

.w-96 {
  width: 24rem;
}

.link {
  @apply text-blue-600;
}

.raised {
  @apply shadow;
}

/**
 * hide scrollbars
 */
::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}
.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/**
 * required to avoid flexbox issues in nextjs apps
 */
#__next {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: clip;
  position: relative;
}

.homepage {
[data-direction="ltr"] & {
.homepage-navbar-actions {
  @apply ml-auto;
}
}
[data-direction="rtl"] & {
.homepage-navbar-actions {
  @apply mr-auto;
}
}
}

.background-animate {
  background-size: 400%;

  -webkit-animation: AnimationName 6s ease infinite;
  -moz-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}